<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oklevelek</title>
    <link rel="stylesheet" href="css/query.css">
</head>
<body>
    <div class="menu-button">
        <a href="/modositas">
            <button type="button">Vissza</button>
        </a>
    </div>
    <div class="wrapper">
        <div class="head">
            <h1>Beérkezet túrázók adatai</h1>

        </div>
        <table id="hikersTable">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Táv</th>
                    <th>Eredmény</th>
                    <th>Teljesítési idő</th>
                </tr>
            </thead>
            <tbody>
                <!-- Az adatok AJAX-szal töltődnek be -->
            </tbody>
        </table>
    </div>

    <script src="js/administrative.js"></script>
</body>
</html>
