<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= checkpointName %> - Checkpoint</title>
    <link rel="stylesheet" href="css/checkpoint.css">
</head>
<body>
    <div class="menu-button">
        <a href="/logout">
            <button type="button">Kijelentkezés</button>
        </a>
    </div>

    <div class="wrapper">
        <h1><%= checkpointName %></h1>

        <p id="s-message"></p>
        <p id="hiker-name"></p>
        <p id="completion-result"></p>

        <form id="starterForm">
            <label for="barcode">Vonalkód:</label>
            <input
                type="text"
                id="barcode"
                name="barcode"
                pattern="\d{8}"
                title="Csak 8 számjegyű EAN-8 vonalkód fogadható el!"
                required
                autofocus
            >
            <br>
            <button type="submit">Érkezés rögzítése</button>

            <div class="camera-scanner">
                <button id="start-camera-scan" type="button"><img src="images/camera.svg" alt="kamera ikon"> Beolvasás kamerával</button>
                <div id="camera-container" style="display: none; margin-top: 15px;">
                    <div id="scanner" style="width: 100%; max-width: 400px; height: auto; border: 2px solid red;"></div>
                    <p id="camera-status"></p>
                    <button id="stop-camera-scan" type="button">Kamera leállítása</button>
                </div>
            </div>

        </form>


        <p class="signature">© StackMatic</p>
    </div>

    <script>
        const checkpointRole = "<%= checkpointRole %>";
    </script>
    <script src="js/checkpoint.js"></script>
    <script src="js/scanner.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
</body>
</html>
