<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiba!</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="wrapper">
        <h1>Hozzáférési hiba</h1>
        <p style="color: red; font-size: 18px; font-weight: bold;"><%= message %></p>
        <br>
        <a href="/main">Vissza a főoldalra</a>
    </div>
</body>
</html>
