<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Göre - Bejelentkezés</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="wrapper">
        <h1>Bejelentkezés</h1>

        <% if (typeof error !== 'undefined') { %>
            <p style="color: red;"><%= error %></p>
        <% } %>

        <form action="/login" method="POST">
            <label for="username">Felhasználónév</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Jelszó</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Bejelentkezés</button>
        </form>
        <p class="signature">© StackMatic</p>
    </div>
</body>
</html>
