<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Főoldal</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="logout">
        <a href="/logout">
            <button type="button">Kijelentkezés</button>
        </a>
    </div>
    <div class="wrapper">
        <div class="header">
            <h1>Kezdőlap</h1>
        </div>
        <div class="buttons">
            <a href="/regisztracio"><button type="button">Versenyzők regisztrálása</button></a>
            <a href="/inditas"><button type="button">Versenyzők indítása és fogadása</button></a>
            <a href="/modositas"><button type="button">Adatok lekérdezése/módosítása</button></a>
            <a href="/admin"><button type="button">Admin felület</button></a>
        </div>
        <div class="wallpaper">
            <img src="images/wallpaper.jpg">
        </div>
    </div>
</body>
</html>