<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lekérdezés --ha ez látszik a szerveren, az baj</title>
    <link rel="stylesheet" href="css/query.css">
</head>
<body>
    <div class="menu-button">
        <a href="/main">
            <button type="button">Főmenü</button>
        </a>
    </div>
    <div class="wrapper">
        <div class="head">
            <h1>Versenyzők megjelenítése</h1>
            <input type="text" id="searchInput" placeholder="Keresés...">
            <button id="modify-data" type="submit">Adatok módosítása</button>
            <br>
            <button id="export-csv">Exportálás CSV-be</button>
            <p id="message"></p>
        </div>

        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Adatok módosítása</h2>
                <form id="editForm">
                    <input type="hidden" id="edit-id">
                    <label for="edit-name">Név:</label>
                    <input type="text" id="edit-name" required>

                    <label for="edit-distance">Távolság:</label>
                    <select id="edit-distance" name="distance" required>
                        <option value="12">12 km</option>
                        <option value="24">24 km</option>
                        <option value="34">34 km</option>
                    </select>

                    <label for="edit-barcode">Vonalkód:</label>
                    <input type="text" id="edit-barcode" required>

                    <label for="edit-departure">Indulás:</label>
                    <input type="datetime-local" id="edit-departure">
                    <input type="hidden" id="original-departure">

                    <label for="edit-arrival">Érkezés:</label>
                    <input type="datetime-local" id="edit-arrival">
                    <input type="hidden" id="original-arrival">

                    <button type="submit">Mentés</button>
                </form>
            </div>
        </div>

        <table id="hikersTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Név</th>
                    <th>Vonalkód</th>
                    <th>Táv</th>
                    <th>Indulás</th>
                    <th>Érkezés</th>
                    <th>Teljesítési idő</th>
                </tr>
            </thead>
            <tbody>
                <!-- Az adatok AJAX-szal töltődnek be -->
            </tbody>
        </table>
    </div>

    <script src="js/query.js"></script>
    <script src="js/modal.js"></script>
</body>
</html>
