<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adatok lekérdezése</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="menu-button">
        <a href="/main">
            <button type="button">Főmenü</button>
        </a>
    </div>
    <div class="wrapper">
        <div class="header">
            <h1>Lekérdezések</h1>
        </div>
        <div class="buttons">
            <a href="/torzsadatok"><button type="button">Törzsadatok</button></a>
            <a href="/reszletesadatok"><button type="button">Részletes adatok</button></a>
            <a href="/oklevel"><button type="button">Információk oklevél íráshoz</button></a>
        </div>
        <div class="wallpaper">
            <img src="images/wallpaper.jpg">
        </div>
        <p class="signature">© StackMatic</p>
    </div>
</body>
</html>