<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <link rel="stylesheet" href="css/start.css">
</head>
<body>
    <div class="menu-button">
        <a href="/main">
            <button type="button">Főmenü</button>
        </a>
    </div>
    
    <div class="wrapper">
        <h1>Regisztrációs oldal</h1>

        <!-- Üzenet megjelenítése -->
        <p id="message"></p>

        <form id="registerForm">

            <label for="barcode">Vonalkód:</label>
            <input type="text" id="barcode" name="barcode" pattern="\d{8}" title="Csak 8 számjegyű EAN-8 vonalkód fogadható el!" required>
            <br>

            <label for="name">Név:</label>
            <input type="text" id="name" name="name" required>
            <br>

            <label for="distance">Táv:</label>
            <select id="distance" name="distance" required>
                <option value="12">12 km</option>
                <option value="24">24 km</option>
                <option value="34">34 km</option>
            </select>
            <br>

            <button type="submit">Regisztráció</button>
        </form>

        <br>

    </div>

    <script src="js/register.js"></script>
</body>
</html>
