<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indítás</title>
    <link rel="stylesheet" href="css/start.css">
</head>
<body>
    <div class="menu-button">
        <a href="/main">
            <button type="button">Főmenü</button>
        </a>
    </div>
    <div class="wrapper">
        <h1>Versenyző indító és fogadó oldal</h1>

        <p id="s-message"></p>
        <p id="hiker-name"></p>
        <p id="completion-result"></p>

            <form id="starterForm">
                <label for="barcode">Vonalkód:</label>
                <input type="text" id="barcode" name="barcode" pattern="\d{8}" title="Csak 8 számjegyű EAN-8 vonalkód fogadható el!" required autofocus>
            <br>
                <button type="submit">Indítás/Fogadás</button>
            <br>
            </form>

    </div>
<script src="js/start.js"></script>
</body>
</html>